<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Costura.Fody" version="3.3.3" targetFramework="net46" />
  <package id="Fody" version="4.0.2" targetFramework="net46" developmentDependency="true" />
  <package id="MaterialDesignColors" version="2.0.0" targetFramework="net46" />
  <package id="MaterialDesignThemes" version="4.0.0" targetFramework="net46" />
  <package id="Microsoft.Web.WebView2" version="1.0.818.41" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net46" />
  <package id="NHotkey" version="2.1.0" targetFramework="net46" />
  <package id="NHotkey.Wpf" version="2.1.0" targetFramework="net46" />
</packages>